.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.formWrapper {
  width: 24rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 2.5rem 1.75rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.75rem;
  color: #0094ef;
}

.textSmall {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1rem;
}
